@tailwind base;
@tailwind components;
@tailwind utilities;



/* -----------SCROLL BAR CONFIGURATION------------ */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e2e2e2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 5px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #f2f2f2;
} */
/* ----------------------------------------------- */